USE [master]
GO
/****** Object:  Database [FilesData]    Script Date: 14/03/2019 09:36:01 ******/
CREATE DATABASE [FilesData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FilesData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FilesData.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FilesData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FilesData_log.ldf' , SIZE = 32448KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FilesData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FilesData]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 14/03/2019 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[SearchResultID] [int] IDENTITY(1,1) NOT NULL,
	[StringToSearchID] [int] NOT NULL,
	[SearchResult] [nvarchar](600) NOT NULL,
 CONSTRAINT [PK_ResultTable] PRIMARY KEY CLUSTERED 
(
	[SearchResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Searches]    Script Date: 14/03/2019 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Searches](
	[StringToSearchID] [int] IDENTITY(1,1) NOT NULL,
	[StringToSearch] [nvarchar](50) NOT NULL,
	[RootFolder] [nvarchar](700) NULL,
 CONSTRAINT [PK_Searches] PRIMARY KEY CLUSTERED 
(
	[StringToSearchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Results] FOREIGN KEY([SearchResultID])
REFERENCES [dbo].[Results] ([SearchResultID])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Results]
GO
USE [master]
GO
